.main-container {
  font-family: "Roboto", sans-serif;
  justify-content: space-between;
  margin-left: 5rem;
  margin-right: 5rem;
  padding-top: 5px;
  box-shadow: 0px 0.1px #888888;
}

.blogtitle {
  font-family: "Fuggles", cursive;
  width: 35%;
  height: 50%;
  padding: 0;
  box-shadow: 2px 2px 2px 0px darkgreen;
  border: 100px;
  font-size: 50px;
  color: darkgreen;
  margin: auto;
  padding-top: 5px;
}

.comment {
  padding: 0px 25% 20px 25%;
  display: inline-block;
  text-align: left;
  justify-content: space-between;
  width: auto;
  height: auto;
}

.comment a {
  display: flex;
  align-items: center;
  text-align: left;
}

.comment img {
  width: 20%;
  height: 20%;
  margin-right: 10px;
  border: 1px solid black;
  border-radius: 15rem;
}

.context {
  display: block;
  justify-content: space-between;
  margin: 0;
  padding-bottom: 5px;
  color: black;
  width: auto;
  height: auto;
}
.context h2 {
  padding-bottom: 5px;
  font-family: "Gabarito", cursive;
  font-weight: 800;
}

.context p {
  padding: 0;
  margin: 0;
  text-align: justify;
  line-height: auto;
  font-family: "Lobster", cursive;
  font-weight: 300;
}

@media screen and (max-width: 850px) {
  .blogtitle {
    margin: 10%;
    width: auto;
    display: flex;
  }

  .comment {
    margin: auto;
    display: flex;
  }

  .h2 {
    display: inline;
    margin: auto;
  }

  .context p {
    display: inline;
    margin: auto;
  }

  .comment img {
    display: block;
    margin: auto;
    padding-right: 5px;
    width: 50%;
    height: 25%;
  }
}
